body{
    background-color: #050210;
}


.box {
    background:linear-gradient( #fb5dad, #55fb9f, #b97aff);
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 100%;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
    
}

@keyframes myAnimation{
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.box2{
    
    position: absolute;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    background-color: #050210;

}

.box2:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height:100%;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animate2 3s  infinite;


}


@keyframes animate2{
    0%{width: 0;
        height: 0;
        opacity: 0;

    }
    25%{
        opacity: 0.25;
    }
    50%{
        
       
        background-color: rgb(24, 24, 44);
        opacity: 0.5;
    }

    75%{background-color: rgb(20, 20, 48);
        opacity: 0.75;
    }
    100%{
        width: 100%;
        width: 100%;
        background-color: rgb(21, 21, 36);
        opacity: 1;
    }

}


.box span{
    position: absolute;
    width: 400px;
    height: 400px;
    background:linear-gradient( #fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
   
    

} 

.box span:nth-child(1){
    filter: blur(10px);

}
.box span:nth-child(2){
    filter: blur(20px);

}
.box span:nth-child(3){
    filter: blur(30px);
}


  

   
